- if @episode
  %h1= "S#{@episode.season}E#{@episode.number} #{@episode.title}"
- else
  %h1= "Season #{params[:season]} Hype"

%ul
- @posts.each do |p|
  %li
    %img{:src => @users[p.user_id].avatar_url}
    %strong
      = @users[p.user_id].login
      = ":"
    = p.body