.episodes
  - @episodes.each do |e|
    .episode
      %h3= e.code.upcase
      %p.body
        - if @is_lost_on.spoiler?(e)
          %span.spoiler= e.title
        - else
          = e.title
      %p.meta
        == air#{e.current? ? :ed : :s} on
        %span.date
          - if e.old?
            = time_ago_or_time_stamp(e.local_air_date)
          - else
            = e.local_air_date.strftime("%d %B %Y at %I %p")