%h1 episode guide
 
.posts
  - @episodes.each do |e|
    .post
      %p.body
        == <a href='/#{e.code}'>#{e.code.upcase}</a>
        - if @is_lost_on.spoiler?(e)
          %span.spoiler= e.title
        - else
          = e.title
      %p.meta
        == air#{e.current? ? :ed : :ing} on
        %span.date
          = e.air_date.xmlschema