.episodes
  - @episodes.each do |e|
    .episode
      %h3== <a href='/#{e.code}'>##{e.code.upcase}</a>
      %p.body
        - if @is_lost_on.spoiler?(e)
          %a.spoiler{:href=>"/#{e.code}"}= e.title
        - else
          %a{:href=>"/#{e.code}"}= e.title
      %p.meta
        == air#{e.current? ? :ed : :s} on
        %span.date
          == #{time_ago_or_time_stamp(e.air_date)}