:plain
  <!-- 
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMOIZMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMZ=7DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMN$=$MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMN7=ZMMMMMMMMMMNO7?++?7DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMD?+OMMMMMMMMMNO?+$8D8$+=ZMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMO++8MMMMMMMMMNI+$NMMMMMO~?NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMM$=+8MMMMMMMMMNI?OMMMMMMMO=INMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMDI=~=78NMMMMMNI+8MMMMMMM8I=OMMMMMMMMMMMDZ7I7ZDNMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMN8$??DMMMMMO=7MMMMMMMD?=$MMMMMMMMMMD?~+77I+~=7DMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMM$~$MMMMMM8?=$NMMMMMMMMMNI~INMMMM87~+DMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMM8==ZDNN87=?8MMMMMMMMMMMD+~7NMMMMMMOZMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMM8?~~===?ONMMMMMMMMMMMMM$~:+ZNMMMMMMMMMMMMMMMZ+?7ODMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMNNNMMMMMMMMMMMMMMMMMMDZ+:~IDMMMMMMMMMMMMMNO7?~:~+7O8NMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDNMMMMMMO+:+8MMMMMMMMMMMMMMMN?:~?=~~=ZMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO+7NMMMMMM8=:$NMMMMMMMMMMMMMNZ~:7NMD8ZDMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO=:?OMMMMMZ~=8MMMMMMMMMMMMMMO+:+8MMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDI~:=I77+~=OMMMMMMMMMMMMMMN?::$MMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDZI+++?ZNMMMMMMMMMMMMMMMZ~:+DMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMD+:~ZMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN7::INMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO~,+OMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN?:~ZNMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM8+~?NMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDNMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
  -->
  
!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= page_title @is_lost_on
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheets/#{IsLOSTOnYet.show_abbrev.downcase}.css", :media=>"all", :rel=>"stylesheet", :type=>"text/css"}/
    - if mobile_safari?
      %link{:href=>"/stylesheets/mobile_safari.css", :media=>"all", :rel=>"stylesheet", :type=>"text/css"}/
      %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0"}/
    /[if IE]
      %link{:href=>"/stylesheets/ie.css", :media=>"all", :rel=>"stylesheet", :type=>"text/css"}/
  %body{:id=>"#{@body_id}", :class=>"#{@body_class}"}
    .container
      = partial :header
      #content
        = partial :menu
        = yield
      #footer
        #cnt
          == <script src="#{IsLOSTOnYet.counter_url}"></script>
        %p by <a href="http://github.com/technoweenie">rick</a> and <a href="http://github.com/seaofclouds">seaofclouds</a>.