.posts
  %h2
    - if @episode
      = @episode.code.upcase
      - if @is_lost_on.spoiler?(@episode)
        %span.spoiler= @episode.title
      - else
        = @episode.title
  = partial :post
  %p.pagination
    - if page_number > 1
      %a{:href=>"?page=#{page_number-1}"} &#171; newer
    - if page_number > 1 && @posts.size == 0
      |
    - if @posts.size == 30
      %a{:href=>"?page=#{page_number+1}"} older &#187;