.posts
  %h2
    - if @episode
      = @episode.code.upcase
      - if @is_lost_on.spoiler?(@episode)
        %span.spoiler= @episode.title
      - else
        = @episode.title
    - else
      posts for
      %strong
        = @current_tags.map { |t| t.inspect } * ", "
  = partial :post