%h1= "Season #{params[:season]}"

%ul
  %li
    %a{:href => "/s#{params[:season]}/ehype"} Pre-Season Hype
  - @episodes.each do |e|
    %li
      %a{:href => e.path}= "Episode #{e.number}: #{e.title}"

%ul
- @posts.each do |p|
  - u = @users[p.user_id]
  %li
    %img{:src => u.avatar_url}
    %strong
      = u.login
      = ":"
    = p.body
    = "(<a href=\"/s#{params[:season]}/e#{p.episode.sub /^s\d+e/, ''}\">#{p.episode}</a>)"