#sidebar
  .widget
    %h1.question= "Is LOST on yet?"
    %h2.answer= @is_lost_on.answer
    .reason
      %h3= @is_lost_on.reason
      %span.countdown 7d 3m 4s
  .tags
    - @tags.each do |tag,weight|
      %a{:href=>"#{tag}", :class=>"weight#{weight}"}= tag
