:plain
  document.write("<div id='isit_widget' onClick='parent.location=\"http://is#{IsLOSTOnYet.show_abbrev.downcase}onyet.com\"' style='cursor:pointer'><h3 id='isit_question'><a href='http://is#{IsLOSTOnYet.show_abbrev.downcase}onyet.com'>Is #{IsLOSTOnYet.show_abbrev} on yet?</a></h3><h5 id='isit_answer'>#{@is_lost_on.answer}</h5><h4 id='isit_reason'>#{@is_lost_on.reason}</h4><p id='isit_countdown'></p></div>");
  var countdown_targetdate = Date.parse("#{@is_lost_on.next_episode.local_air_date.strftime('%Y/%m/%d %H:%M')}");
  var countdown_d = new Date();
  var countdown_timenow = countdown_d.getTime();
  var countdown_timeleft = Math.floor((countdown_targetdate-countdown_timenow)/1000);
  function countdown(remain) {
    var
      status = document.getElementById("isit_answer");
      countdown = document.getElementById("isit_countdown");
      timer = setInterval( function () {
        var day = (Math.floor(remain/86400))%86400;
        var hour = (Math.floor(remain/3600))%24;
        var minute = (Math.floor(remain/60))%60;
        var second = (Math.floor(remain/1))%60;
        countdown.innerHTML = (day > 0 ? "<span class='countdown_day'><strong>"+day+"</strong>d</span> " : "") + (hour > 0 ? "<span class='countdown_hour'><strong>"+hour+"</strong>h</span> " : "") + (minute > 0 ? "<span class='countdown_minute'><strong>"+minute+"</strong>m</span> " : "") + (second > 0 ? "<span class='countdown_second'><strong>"+second+"</strong>s</span> " : "");
        if (--remain < 0 ) { 
          clearInterval(timer);
        }
      },1000);          
  }
  countdown(countdown_timeleft);